<% if (curIndex == 1 ) { %>
          <div class="scan-box">
            <div class="code">
              <img src="images/code.jpg" />
              <i class="line"></i>
            </div>
            <p>扫一扫 下载游戏</p>
            <div class="btn-box">
              <a href="javascript:void(0);" title="Android下载" class="pqimg android"></a>
              <a href="javascript:void(0);" title="iOS越狱下载" class="pqimg ios"></a>
            </div>
            <a href="gift.html" class="pqimg gift"></a>
            <div class="show-btn"></div>
          </div>-%>
  <% } else { %>
        <div class="inside-scan-box">
          <div class="code">
            <img src="images/code.jpg" />
            <i class="line"></i>
          </div>
          <p>扫一扫 下载游戏</p>
          <div class="btn-box">
            <a href="javascript:void(0);" title="Android下载" class="pqimg android"></a>
            <a href="javascript:void(0);" title="iOS越狱下载" class="pqimg ios"></a>
          </div>
          <a href="gift.html" class="pqimg gift"></a>
          <div class="show-btn"></div>
        </div>-%>
<% } %>-%>
