  <div class="foot">
    <div class="foot-nav">
      <a target="_blank" href="https://www.6kw.com/">首页</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.6kw.com/games/">游戏下载</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.6kw.com/user.php">用户中心</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.6kw.com/yxgl/">游戏攻略</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.6kw.com/kfzx/">客服中心</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.6kw.com/fcm">家长监护</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.6kw.com/games/xieyi.html">用户协议</a>
    </div>
    <div class="foot-copy">
      上海弘贯网络科技有限公司&nbsp;&nbsp;地址：上海嘉定区陈翔路88号6幢4楼A区4128室 <br />
      出版单位名称：上海同济大学电子音像出版社有限公司&nbsp;&nbsp;
      运营单位名称：上海梦跃网络科技有限公司<br>
      <a target="_blank" href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/4028c08d4e9b6cf2014eb8dcef8206de">沪网文【2018】5806-391号</a>
      &nbsp;&nbsp;沪ICP备15015736号-8&nbsp;&nbsp;
      <a target="_blank" href="https://image.6kw.com/public/images/xkz.jpg">增值电信业务经营许可证沪B2-20150167</a><br />
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602003533">
        <img src="https://image.6kw.com/6kw/images/police_icon.png" />
        &nbsp;粤公网安备 44010602003533
      </a>
      本网络游戏适合18+岁的用户使用；为了您的健康，请合理控制游戏时间。<br />
      出版物号：ISBN 978-7-498-04401-3&nbsp;&nbsp;
      软著登记号：2017SR533999 <br />
      抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷 游戏伤身。合理安排时间，享受健康生活。<br />
    </div>
  </div>