  <div class="foot">
    <!--页脚导航-->
    <div class="foot-nav">
      <a target="_blank" href="https://www.9gwan.cn/">首页</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.9gwan.cn/games">游戏下载</a>
      <span class="line">|</span>
      <a target="_blank" href="https://www.9gwan.cn/user.php">用户中心</a>
      <span class="line">|</span>
      <!-- <a target="_blank" href="https://www.9gwan.cn/yxgl">游戏攻略</a>
      <span class="line">|</span> -->
      <a target="_blank" href="https://www.9gwan.cn/kfzx.php">客服中心</a>
      <span class="line">|</span>
      <!-- <a target="_blank" href="https://www.9gwan.cn/fcm">家长监护</a>
      <span class="line">|</span> -->
      <a target="_blank" href="https://www.9gwan.cn/games/xieyi.html">用户协议</a>
    </div>
    <!--版权-->
    <div class="foot-copy">
      海南凯飞网络科技有限公司&nbsp;&nbsp;地址：海南省澄迈县老城镇高新技术产业示范区海南生态软件园孵化楼四楼4001<br/
      <a target="_blank" href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/4028c08d4e9b6cf2014eb8dcef8206de">沪网文【2018】5806-391号</a>&nbsp;&nbsp;琼ICP备2021002930号-1&nbsp;&nbsp;
      <a target="_blank" href="https://image.9gwan.cn/public/images/xkzz.jpg">增值电信业务经营许可证琼B2-20210528</a><br/>
      抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷 游戏伤身。合理安排时间，享受健康生活。<br>
    </div>
  </div>