  <div class="foot">
    <!--页脚导航-->
    <div class="foot-nav">
      <a target="_blank" href="http://www.8qwan.com/">首页</a>
      <span class="line">|</span>
      <a target="_blank" href="http://www.8qwan.com/games">游戏下载</a>
      <span class="line">|</span>
      <a target="_blank" href="http://www.8qwan.com/user.php">用户中心</a>
      <span class="line">|</span>
      <a target="_blank" href="http://www.8qwan.com/news/yxgl">游戏攻略</a>
      <span class="line">|</span>
      <a target="_blank" href="http://www.8qwan.com/kfzx.php">客服中心</a>
      <span class="line">|</span>
      <a target="_blank" href="http://www.8qwan.com/fcm/fcm.html">家长监护</a>
      <span class="line">|</span>
      <a target="_blank" href="http://www.8qwan.com/xieyi">用户协议</a>
    </div>
    <!--版权-->
    <div class="foot-copy">
      海南奇趣网络科技有限公司&nbsp;&nbsp;地址：海南省老城高新技术产业示范区海南生态软件园A17幢一层100<br>
      出版单位名称：华东理工大学电子音像出版社&nbsp;&nbsp;
      运营单位名称：霍尔果斯椰子网络科技有限公司<br>
      <a target="_blank"
        href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/b1c0598663d34787ad98368ea0349886">琼网文〔2016〕6912-087号</a>&nbsp;&nbsp;
      <a target="_blank" href="https://beian.miit.gov.cn">琼ICP备16003146号-1</a>&nbsp;&nbsp;
      <a target="_blank" href="https://image.70pk.cn/public/images/xkz.jpg">增值电信业务经营许可证琼B2-20170009</a><br>
      <!--<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602003533" >
            <img src="https://image.70pk.cn/public/images/police_icon.png" />&nbsp;粤公网安备 44010602003533</a>-->
      本网络游戏适合18+岁的用户使用；为了您的健康，请合理控制游戏时间。<br>
      出版物号：ISBN 978-7-498-07112-5&nbsp;&nbsp;
      <a href="javascript:;">
        <img src="https://image.70pk.cn/public/images/gameLink.png" width="25">&nbsp;国新出审[2019]3510号&nbsp;&nbsp;</a>
      软著登记号：2021SR0084750 <br>
      抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷 游戏伤身。合理安排时间，享受健康生活。<br>
    </div>
  </div>