<% 
	var link = 'javascript:;';
	if ( data != 1) {
		link = 'index.html';
	}
%>-%>
		<div class="top">
			<a href="<%= link %>" class="btn-down"></a>
			<a href="gift.html" class="btn-gift"></a>
		</div>