  <div class="foot">
    <div class="foot-nav">
      <a href="javascript:void(0);" onclick="$('.popup-wxcode').show();">
        <div class="icon"><img src="images/icon_scan.png"></div>
        <div class="text">关注公众号</div>
      </a>
      <a href="javascript:void(0);" onclick="$('.popup-share').show();">
        <div class="icon"><img src="images/icon_share.png"></div>
        <div class="text">分享小伙伴</div>
      </a>
      <a href="javascript:void(0);">
        <div class="icon"><img src="images/icon_mac.png"></div>
        <div class="text">进入电脑版</div>
      </a>
    </div>
    <div class="foot-copy">
      <p class="tele">海南奇趣网络科技有限公司&nbsp;&nbsp;</p>
      客服电话：020-89855765 020-89857410<br/>
      抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。<br/>
      适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。<br/>
      <br/>
      本网络游戏适合18+岁的用户使用<br/>
      为了您的健康,请合理控制游戏时间<br/>
      <a
        href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/toDetail/b1c0598663d34787ad98368ea0349886">琼网文〔2016〕6912-087号</a><br/>
      出版单位名称：浙江省新闻出版社&nbsp;&nbsp;
      运营单位名称：杭州游卡网络科技有限公司<br/>
      出版物号：ISBN 978-7-498-03889-0&nbsp;&nbsp;
      <a href="http://sq.ccm.gov.cn/ccnt/sczr/service/business/emark/gameNetTag/2c94c08b61738a250161d1b2fbbb30da">
        <img src="https://image.70pk.cn/public/images/gameLink.png" width="15">&nbsp;文网游备字〔2018〕Ｍ-RPG 0480
        号&nbsp;&nbsp;</a>
      软著登记号：2017SR353573 <br/>
      <a href="#" class="back-top">
        <img title="回到顶部" src="images/back_top.png">
      </a>
    </div>
  </div>