  <div class="foot">
    <div class="foot-nav">
      <a href="javascript:$('.popup-wxcode').show();"">
        <div class="icon"><img src="images/icon_scan.png"></div>
        <div class="text">关注公众号</div>
      </a>
      <a href="javascript:$('.popup-share').show();">
        <div class="icon"><img src="images/icon_share.png"></div>
        <div class="text">分享小伙伴</div>
      </a>
      <a href="javascript:;">
        <div class="icon"><img src="images/icon_mac.png"></div>
        <div class="text">进入电脑版</div>
      </a>
    </div>
    <div class="foot-copy">
      <p class="tele">上海弘贯网络科技有限公司&nbsp;&nbsp;</p>
      客服电话：020-89855765 020-89857410<br/>
      抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。<br/>
      适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。<br/>
      <br/>
      本网络游戏适合18+岁的用户使用<br/>
      为了您的健康,请合理控制游戏时间<br/>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602003533">
      <img src="https://image.6kw.com/6kw/images/police_icon.png" />&nbsp;粤公网安备 44010602003533</a>
      <br/>
      <a href="http://sq.ccm.gov.cn:80/ccnt/sczr/service/business/emark/toDetail/4028c08d4e9b6cf2014eb8dcef8206de">沪网文【2018】5806-391号</a><br/>
      出版单位名称：上海同济大学电子音像出版社有限公司<br/>
      运营单位名称：上海梦跃网络科技有限公司<br/>
      出版物号：ISBN 978-7-498-04401-3&nbsp;&nbsp;<br/>
      软著登记号：2017SR533999
      <a href="#" class="back-top"><img title="回到顶部" src="images/back_top.png"></a>
    </div>
  </div>