  <div class="foot">
    <div class="foot-nav">
      <a href="javascript:void(0);" onclick="$('.popup_bg,.popup_wxcode_box').show();">
        <div class="icon"><img src="images/icon_scan.png"></div>
        <div class="text">关注公众号</div>
      </a>
      <a href="javascript:void(0);" onclick="$('.popup_bg,.popup_share_box').show();">
        <div class="icon"><img src="images/icon_share.png"></div>
        <div class="text">分享小伙伴</div>
      </a>
      <a href="javascript:void(0);">
        <div class="icon"><img src="images/icon_mac.png"></div>
        <div class="text">进入电脑版</div>
      </a>
    </div>
    <div class="foot-copy">
      <p class="tele">海南凯飞网络科技有限公司&nbsp;&nbsp;</p>
      客服电话：020-89857410<br/>
      抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。<br/>
      适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。<br/>
      <br/>
      本网络游戏适合18+岁的用户使用<br/>
      为了您的健康,请合理控制游戏时间<br/>
      <a href="#" class="back_top" style="color: rgb(156, 143, 128);">
        <img title="回到顶部" src="images/back_top.png">
      </a>
    </div>
  </div>